*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(233,233,233);
}

h3{
    text-transform: uppercase;
}

.counter-app{
    position:relative;
}


.settings-app{
    position:absolute;
    display: none;
}

.app-body{
    display:flex;
    flex-direction: column;
width: 800px;
height: 800px;
border-radius:15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

.date{
    display: flex;
    justify-content: center;
   
}

.imageFront{
    position:relative;
    height: 400px;
    background-image: url(default.jpg);
    background-size: cover;
    background-position: center;
}

.settingsBtn{

font-size: 25px;
background-color: transparent;
border:1px solid black;
position:absolute;
right:5px;
padding:20px 30px;
background-color: white;
margin-top:15px;
margin-right: 10px;


}

.settingsBtn:hover{
    color:white;
    background-color: #333;
    transition: .4s;

}


.time-section{

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.time-cards{

    display:flex;
    justify-content: space-evenly;
    width:100%;

    
}

h2{
    font-size:24px;
    padding:10px;
    margin:50px;
}


.card{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border:1px solid black;
width: 14%;
text-align: center;
padding:40px 0;
border-radius:15px;




}

.number{

    font-weight: bold;
    font-size:24px;
    margin:10px;
}



.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px 30px;
    width:400px;
    background-color: whitesmoke;
    border:1px solid black;
    opacity: 0;
    transition: transform .5s, opacity .3s;
    position:absolute;
    right:5px;
    top:5px;

}

.active{
    transform: translateX(430px);
    opacity:1;


}

h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;

    
}

label{
    margin-bottom:10px;
}



input{
margin-bottom: 30px;
padding:10px 20px;
width:100%;
}


.date{
    text-align: center;
}



.save{
    padding:10px 20px;
    width:50%;
    position:relative;
    left:25%;
    

}

.save:hover{
    font-weight: bold;
  background-color: blanchedalmond;

}

.nameAdvent{
    text-align: center;
    

}




